/src/main/resources/rawdata
/src/main/resources/pictures
/.idea
*.pyc
*/__pycache__/
/src/main/resources/quantopian_algs_backup
src/main/python/analytic/.ipynb_checkpoints/
src/main/python/analytic/__pycache__/
src/main/python/course_code/__pycache__/


venv/bin
venv/include
venv/lib
venv/lib64
venv/pip-selfcheck.json
venv/pyvenv.cfg
venv/pip-selfcheck.json
venv/share
